

%h_nav-links {
  font-family: "Lato Medium", Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: white;
}

%h_promo-title {
  font-family: "ChunkFive", Arial, Helvetica, sans-serif;
  font-size: 5.7em;
}

%h_promo-text {
  font-family: "Lato Regular", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  line-height: 1.7;
}

%h_promo-btn {
  font-family: "Lato Black", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}

// About

%about_title {
  font-family: "ChunkFive", Arial, Helvetica, sans-serif;
  font-size: 4.28em;
}

%about_text_-dest-text {
  font-family: "Lato Regular", Arial, Helvetica, sans-serif;
  font-size: 1.143em;
  line-height: 1.7;
}

// Destination

%d__title_-set-itt__title_-c_title {
  font-family: "ChunkFive", Arial, Helvetica, sans-serif;
  font-size: 4.8em;
}

%d_batu__title_-bromo-title {
  font-family: "Lato Light", Arial, Helvetica, sans-serif;
  font-size: 2.15em;
}

%d_batu__text {
  font-family: "Lato Bold", Arial, Helvetica, sans-serif;
  font-size: 1.143em;
  line-height: 1.7;
}

%d_bromo__text_-set-itt__text {
  font-family: "Lato Regular", Arial, Helvetica, sans-serif;
  font-size: 1.143em;
  line-height: 1.7;
}

%c_address-title {
  font-family: "Lato Light", Arial, Helvetica, sans-serif;
  font-size: 4em;
}